html, body {
    background-color: #eee;
    font-family: 'Share Tech', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-title {
    background-image: linear-gradient(to left bottom, #333333, #2f2f2f, #2a2a2a, #262626, #222222);
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #eee;
}
